<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout/defaultLayout">

<head>
	<meta charset="UTF-8">
</head>
<body>
	<th:block layout:fragment="content">
	<script th:src="@{js/user/algorithmManage.js}"></script>
	
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h4><strong>알고리즘 조회 </strong></h4>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table id="datatable" class="table table-striped jambo_table table-bordered custom-tbTextCenter">
                      <thead>
                        <tr>
                          <th>이름</th>
                          <th>설명</th>
                          <th>활용</th>
                          <th>적용</th>
                          <th>상세정보</th>
                        </tr>
                      </thead>
                      <tbody id="tbodyHtml">

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /page content -->
        
        <!-- modal -->
            <div class="modal fade bs-example-modal-lg" tabIndex={-1} role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="myModalLabel">알고리즘 세부정보</h4>
                        </div>
                        <div class="modal-body">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h4>알고리즘 기본 정보</h4>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <table id="datatable" class="table table-striped jambo_table table-bordered custom-tbTextCenter">
                                        <thead>
                                            <tr>
                                                <th>이름</th>
                                                <th>활용</th>
                                                <th>기본 정보</th>
                                                <th>적용</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td id="name"></td>
                                                <td id="supportedExtension"></td>
                                                <td id="detail"></td>
                                                <td id="applycation"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <br/>
                            <div class="x_panel">
                                <div class="x_title">
                                    <h4>파라미터 세부사항</h4>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content" style="overflow:scroll;height:250px;" >
                                    <table id="datatable" class="table table-striped jambo_table table-bordered custom-tbTextCenter">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Type</th>
                                                <th>Default</th>
                                                <th>Comment</th>
                                            </tr>
                                        </thead>
                                        <tbody id="parameters">

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        <!-- modal -->
        
	</th:block>
</body>
</html>
