<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout/defaultLayout">

<head>
	<meta charset="UTF-8">
	<link th:href="@{/js/lib/jstree/themes/default/style.css}" rel="stylesheet" />
	<link th:href="@{/gentelella/vendors/dropzone/dist/min/dropzone.min.css}" rel="stylesheet" />
</head>
<body>
	<th:block layout:fragment="content">
	
	<script th:src="@{js/lib/jstree/jstree.js}"></script>
	<script th:src="@{/gentelella/vendors/dropzone/dist/dropzone.js}"></script>
	
	<script th:src="@{js/user/dataManage/dataManage.js}"></script>
	<script th:src="@{js/user/dataManage/originalDataManage.js}"></script>
	
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h4><strong>원본 데이터 관리 </strong></h4>
				  	<div class="navbar-right">
					  	<button type="button" class="btn btn-success" data-toggle="modal" data-target=".originalDataModal" onclick="fnGetFileList();">등록</button>
					  	<button type="button" class="btn btn-default" onClick="fnDeleteOriginalData()">삭제</button>
				  	</div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                  	<table id="datatable-originalData" class="table table-striped jambo_table table-bordered bulk_action custom-tbTextCenter">
						<thead>
							<tr>
								<th><input type="checkbox" id="check-all" class="flat"></th>
								<th>파일명</th>
								<th>설명</th>								
								<th>용량</th>
								<th th:if="${session.userAuth} == 'admin'">등록자</th>
								<th>등록일</th>
								<th><i class='fa fa-edit'></i> 수정</th>
							</tr>
						</thead>
						<tbody id="tbodyHtml">
							
						</tbody>
					</table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
        
        <!-- modal -->
      	<div class="modal fade originalDataModal" tabindex="-1" role="dialog" aria-hidden="false" >
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
					  <h4 class="modal-title">
					  	<strong class="registDiv">파일등록</strong>
					  	<strong class="updateDiv">파일수정</strong>
					  </h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal form-label-left">
							<div class="form-group registDiv">
								<div class="col-md-2 col-sm-2 col-xs-12">
									<label class="control-label  text-left">파일경로</label>
								</div>
								<div class="col-md-10 col-sm-10 col-xs-12">
									<input type="text" class="form-control" id="filePath" readonly>
								</div>
							</div>
							<div class="form-group registDiv">
								<div class="col-md-2 col-sm-2 col-xs-12">
									<label class="control-label  text-left">파일목록</label>
								</div>
								<div class="col-md-10 col-sm-10 col-xs-12">
									<div id="jstree_demo" class="custom-hScroll">
									</div>
								</div>
							</div><!-- // form-group -->
							<div class="form-group updateDiv">
								<div class="col-md-2 col-sm-2 col-xs-12">
									<label class="control-label  text-left">파일</label>
								</div>
								<div class="col-md-10 col-sm-10 col-xs-12">
									<input type="text" class="form-control" id="originalFileName" readonly>
									<input type="hidden" class="form-control" id="originalDataSeq">
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-2 col-sm-2 col-xs-12">
									<label class="control-label  text-left">설명</label>
								</div>
								<div class="col-md-10 col-sm-10 col-xs-12">
									<textarea class="form-control" rows="2" id="description" name="description"></textarea>
								</div>
							</div>
						</form>
						<!-- <form action="/dataManage/fileUpload" id="uploadFileForm" class="dropzone registDiv" method="post" enctype="multipart/form-data" style="min-height: 100px;">
							<input type="hidden" id="uploadFile" name="uploadFile" />
						</form> -->
						<form class="dropzone registDiv" id="uploadFileForm"  style="min-height: 100px;">
							<input type="hidden" id="uploadFile" name="uploadFile"/>
						</form>
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-success registDiv" onclick="fnInsertOriginalData()">등록</button>
						<button type="button" class="btn btn-success updateDiv" onclick="fnUpdateOriginalData()">수정</button>
					  	<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
					</div>
				</div>
			</div>
		</div>
        <!-- modal -->
        
	</th:block>
</body>
</html>
