    
    <!-- Bootstrap -->
    <script th:src="@{js/lib/bootstrap.min.js}"></script>

    <!-- iCheck -->
    <script th:src="@{js/lib/icheck.min.js}"></script>
	<script th:src="@{js/lib/moment.min.js}"></script>
	<script th:src="@{js/lib/daterangepicker.js}"></script>


    <!-- Datatables -->
    <script th:src="@{js/lib/jquery.dataTables.min.js}"></script>
    <script th:src="@{js/lib/dataTables.bootstrap.min.js}"></script>

    <!-- select.dataTable -->
    <script th:src="@{js/lib/dataTables.select.min.js}"></script>
    <script th:src="@{js/lib/dataTables.fixedHeader.min.js}"></script>
    <script th:src="@{js/lib/dataTables.keyTable.min.js}"></script>
    <script th:src="@{js/lib/dataTables.responsive.min.js}"></script>
    <script th:src="@{js/lib/responsive.bootstrap.js}"></script>
    <script th:src="@{js/lib/dataTables.scroller.min.js}"></script>
    
	<!-- PNotify -->
    <script th:src="@{gentelella/vendors/pnotify/dist/pnotify.js}"></script>
    <script th:src="@{gentelella/vendors/pnotify/dist/pnotify.buttons.js}"></script>
    <script th:src="@{gentelella/vendors/pnotify/dist/pnotify.nonblock.js}"></script>
    
    <!-- NProgress -->
    <script th:src="@{gentelella/vendors/nprogress/nprogress.js}"></script>
    
    <!-- jQuery Smart Wizard -->
    <script th:src="@{gentelella/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js}"></script>
    
    <!-- switchery -->
    <!-- <script th:src="@{gentelella/vendors/switchery/switchery.js}"></script> -->
    
    <!-- validator -->
    <!-- <script th:src="@{js/lib/validator.js}"></script> -->
    
    <!-- Parsley -->
    <script th:src="@{gentelella/vendors/parsleyjs/dist/parsley.js}"></script>
	<!-- Autosize -->
	<script th:src="@{gentelella/vendors/autosize/dist/autosize.min.js}"></script>
    <!-- Custom Theme Scripts -->
    <script th:src="@{js/lib/custom.js}"></script>
    
    <!-- 공통 -->
    <script th:src="@{js/commonUtils.js}"></script>
    
    <!-- 프로젝트 공통 -->
    <script th:src="@{js/taSolutionManager.js}"></script>
    
	<!-- Ajax -->
    <script th:src="@{js/ajaxApiData.js}"></script>
    
    
    
    
    